body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    max-width: 1200px;
    margin:0 auto;
}

.nav {
    display: flex;
}

.nav li {
    margin-right: 15px;
}

.active {
    font-weight: bold;
    color: #d0021b;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-container {
    text-weight: bold;
    font-size: 1.6em;
}

.id-container {
    font-size: 0.6em;
    font-style: italic;
}

.point-container {
    padding: 1em;
    padding-right: 2.5em;
    text-weight: bold;
}

.match-container {
    font-size: 0.8em;
}

td {
    align: center;
    valign: center;
}
